body {
  background-color: pink;
}

.audiostory{
  width: 95%;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  color: white;
  font-size: 8em;
  font-family: 'Verdana', Times, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  color: LavenderBlush;
  font-size: 3.5em;
  font-family: 'Georgia', Times, serif;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

h3 {
  color: white;
  font-size: 2.5em;
  font-family: 'Georgia', Times, serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.5em;
}

button {
  color: pink;
  background-color: white;
  font-size: 2.5em;
  font-family: 'Georgia', Times, serif;
  text-align:center;
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  display: block;
  border-radius: 15px;
  border: solid LavenderBlush 5px;
}

.button_container {
  width: 96%;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

p {
  color: IndianRed;
  font-size: 2.3em;
  font-family: 'Georgia', Times, serif;
  line-height: 1.5em;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.text_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.cont_item {
  width: 50%;
}

#text_story {
  text-align: left;
}

.link {
  text-decoration: none;
}

/* form {
  width: 100%;
  display: inline;
  magin: 0px;
} */

/* FOR MOBILE */
@media only screen and (max-width: 945px) {
  .text_container {
    width: 100%;
  }
  .button_container {
    margin-top: 100px;
    margin-top: 50px;
  }
  p {
    font-size: 2.5em;
  }
  button {
    width: 40%;
  }
}
